#primary {

	article.home {
		@include media($sm) {
			@include span-columns( 2 );
			display: flex !important;
			background-color: #ccc;
			height: 250px;
			margin-bottom: 20px;
			position: relative;
		}
		@include media($smd) {
			@include span-columns( 2.90 );
			@include omega( n block );
			@include shift( .15 );
		}
		@include media($mdbg) {
			@include span-columns( 4.85 );
		}

		img {
			position: absolute;
			height: auto !important;
			z-index: 1;
		}

		.articles {
			@include fill-parent;
			background-color: rgba(0,0,0,.85);
			color: #fff;
			height: 40%;
			align-self: center;
			margin-top: 35%;
			padding: 15px;
			position: relative;
			z-index: 2;

			a, a:visited {
				color: #fff;
				&:hover {
					text-decoration: underline;
				}
			}

			.the-author {
				font-weight: bold;
			}
		}
	}
}
